.techzia-ui-theme--dark {
    --techzia-ui-surface-bg: 18, 18, 18; // Background color for the dark theme
  
    background-color: rgb(18, 18, 18); // Setting the overall background color
  
    --techzia-ui-white: 18, 18, 18; // Define white color for the dark theme
    --techzia-ui-black: 224, 224, 224; // Define black color for the dark theme
  
    // Various shades of gray
    --techzia-ui-gray-100: 30, 30, 30;
    --techzia-ui-gray-200: 44, 44, 44;
    --techzia-ui-gray-300: 57, 57, 57;
    --techzia-ui-gray-400: 73, 73, 73;
    --techzia-ui-gray-500: 92, 92, 92;
    --techzia-ui-gray-600: 124, 124, 124;
    --techzia-ui-gray-700: 162, 162, 162;
    --techzia-ui-gray-800: 200, 200, 200;
  
    // Color variables for the primary theme
    --techzia-ui-primary-800: 209, 213, 254;
    --techzia-ui-primary-600: 181, 188, 253;
    --techzia-ui-primary-500: 125, 137, 251;
    --techzia-ui-primary-100: 27, 28, 37;
  
    // Color variables for error, success, warning, and info themes
    --techzia-ui-error-800: 247, 109, 116;
    --techzia-ui-error-600: 236, 91, 98;
    --techzia-ui-error-500: 227, 72, 80;
    --techzia-ui-error-100: 129, 33, 38;
  
    --techzia-ui-success-800: 57, 185, 144;
    --techzia-ui-success-600: 51, 171, 132;
    --techzia-ui-success-500: 45, 157, 120;
    --techzia-ui-success-100: 23, 85, 65;
  
    --techzia-ui-warning-800: 249, 164, 63;
    --techzia-ui-warning-600: 242, 148, 35;
    --techzia-ui-warning-500: 230, 134, 25;
    --techzia-ui-warning-100: 131, 74, 11;
  
    --techzia-ui-info-800: 75, 156, 245;
    --techzia-ui-info-600: 55, 142, 240;
    --techzia-ui-info-500: 38, 128, 235;
    --techzia-ui-info-100: 11, 69, 137;
  
    // Pastel color variables
    --techzia-ui-pastel-silver: 167, 168, 170;
    --techzia-ui-pastel-red: 183, 164, 165;
    --techzia-ui-pastel-yellow: 182, 175, 143;
    --techzia-ui-pastel-green: 152, 179, 167;
    --techzia-ui-pastel-blue: 170, 175, 183;
    --techzia-ui-pastel-purple: 171, 169, 183;
    --techzia-ui-pastel-pink: 181, 162, 174;
  }